
body {
    font-family: system-ui;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #081F35;
    padding: 20px 0px;
}
.title p {
    padding: 0px 50px 0px 50px;
    font-size: 20px;
    color: white;
}


.form-group1 {
    background-color: rgb(221, 221, 221);
}
.form-group1 p {
    padding: 0px 0px 30px 0px;
    border-bottom: 2px solid #143166;
    color: black;
    font-size: 20px;
    font-weight: 460;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form {
    border: 2px solid #143166;
    margin: 150px 0px 10px 0px;
    padding: 0px 0px 50px 0px;
}
.form-group1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.status {
    padding: 10px 20px 10px 20px;
}
.approval {
    padding: 10px 20px 10px 20px;
}


input:focus {
    outline: none;
    border-radius: 0;
}
input {
    font-size: 20px;
    padding: 10px 50px 10px 10px;
    border-radius: 0px;
    border: 2px solid #143166;
    margin: 2px 0px 20px 2px;
}
#button {
    text-align: center;
    display: inline-block;
}
#button {
    border: 1px solid #15548E;
    margin: 20px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #15548E;
    border-radius: 0px;
}
#home-move {
    text-decoration: none;
    color: #143166;
    padding: 40px 0px 0px 0px;
}





