

body {
    font-family: system-ui;
}
h1 {
    text-align: center;
    padding: 120px 0px 50px 0px;
    font-size: 100px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form {
    display: flex;
}
.form-group1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.code {
    padding: 6px 20px 10px 10px;
}
.password {
    padding: 16px 20px 10px 10px;
}


.form-group2 {
    display: flex;
}
input:focus {
    outline: none;
    border-radius: 0;
}
.input-group input {
    font-size: 20px;
    padding: 10px 50px 10px 10px;
    border-radius: 0px;
    border: 2px solid #143166;
    margin: 2px;
}
#login-button {
    text-align: center;
    display: inline-block;
    width: 100%;
}
#login-button {
    border: 1px solid #15548E;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #15548E;
    border-radius: 0px;
}


.error-message {
    text-align: center;
    padding: 10px;
    color: red;
}

